
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700")

body {
  background-color: white;
  font-family: "Roboto";
  color: #03120E;
  font-size: 24px;
  font-weight: 900;
  line-height: 1,6;

}

h1 {
  color: #77A0A9;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 900;
  line-height: 1,6;
}

h2 {
  color: #14248A;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
}

p {
  color: #364958;
  font-size: 16px;
  font-family: "Open Sans",sans-serif;;
  font-weight: 300;
  margin: 20px auto;
}

a {
  color: #3E505B;
  background-color: white;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #6610F2;
  background-color: white;
  border: 1px solid #6610F2;
  text-decoration: none;
}

.container{
  text-align: center;
}

.card{
  background-color: white;
  width: 600px;
  margin: 20px auto;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.pic{
  border-radius: 50%;
  width: 100px;
  margin: 20px auto;
}

.list-inline > li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
  padding-left: 0px;
}

.fab {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 30px;
}

.button {
  background-color: #6610F2;
  color: white;
  padding: 15px 20px;
  margin: 30px auto;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card  {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card  {
    width: 400px;
  }
}
